body{
    background-color: rgb(247, 173, 146);
    text-align: center;
    color: darkblue;
    font-family:'Franklin Gothic Medium';
}

a {
    color:blueviolet;
    text-decoration: none;
}

a:hover {
    color: rgb(235, 55, 0);
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;

}

h2{
    text-align: center;
}

img{
    width: 60%;
}
figure{
    text-align: center;
    font-style: italic;
}