* {
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 173, 146);
  text-align: center;
  color: darkblue;
  font-family: 'Franklin Gothic Medium';
}

.app {
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid darkblue;
  border-radius: 10px;

  max-width: 320px;
  margin: 20px auto;
  padding: 20px;

  display: block;
}

h1 {
  text-align: center;
  color: darkblue;
}

h2 {
  text-align: center;
}

select, button {
  display: block;

  padding: 8px;
  margin: 8px 0;

  border: 1px solid darkblue;

  font-family: 'Franklin Gothic Medium';
  color: darkblue;
  background: white;
}

button:hover {
  background-color: rgb(235, 55, 0);
  color: white;
  cursor: pointer;
}

#weather-container {
  margin-top: 15px;
  text-align: center;
}

#weather-icon {
  max-width: 45%;
}

#weather-container p {
  margin: 5px 0;
  display: block;
}

#location {
  font-style: italic;
}