<nav>
            <a href="https://webpages.charlotte.edu/mkowae/">Charlotte.edu</a>
            ||
            <a href="https://github.com/Mksurfing">GitHub</a>
            ||
            <a href="https://github.com/Mksurfing/Mksurfing.github.io">GitHub.io</a>
            ||
            <a href="https://www.freecodecamp.org/mkowae">freeCodeCamp</a>
            ||
            <a href="https://www.codecademy.com/profiles/Mkowae">codecademy</a>
            ||
            <a href="https://www.linkedin.com/in/marc-kowae-92b621380/">LinkedIn</a>
        </nav>
        <p>Page Built by <a href="kowaeenterprises.net/index.html">Kowae Enterprises</a> &copy; 2025 </p>